*.pyc
*.pyo
__pycache__/
*.py[cod]
old_markdown/
old_www/
old_cards/
old_data/
old_config/
old_code/
.venv/
venv/
env/
site
*.lock
.pytest_cache/
.Rhistory
.continue
.coverage
.env
.DS_Store
.python-version
.quarto/
**/*.quarto_ipynb

/.quarto/
/.make/test-passed